/* ---------image--------- */
.SwiperJSContainer .DImg,
.SwiperJSContainer .MImg {
    width: 100%;
}

.SwiperJSContainer .MImg {
    display: none;
}


/* ------text------- */
.SwiperJSContainer {
    position: relative;
}
.SliderMainTextConatainerBox{
    
}
.SliderTextConatainer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 50px;
    width: 50%;
}

.SliderTextConatainerBox {
    height: 200px;
    overflow: auto;
}

.SliderTextConatainerBox p {
    font-size: 15px;
    margin-bottom: 9px;
}

.SliderIconConatainer {
    margin-top: 14px;
    display: flex;
    font-size: 21px;
    margin-right: 20px;
}

.SliderIconConatainer a {
    color: #35637a;
}

.SliderIconConatainer a:first-child {
    margin-right: 15px;
}


/* --------- pagination bullet color --------- */
.swiper-pagination-bullet-active {
    background-color: #35637a !important;
}

/*---------- arrow color and size---------- */

.SwiperJSContainer .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    color: #35637a;
    font-size: 40px;
    border-radius: 50%;
    font-weight: bold;
}

.SwiperJSContainer .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    color: #35637a;
    font-size: 40px;
    border-radius: 50%;
    font-weight: bold;
}

/*---------- arrow with cricle---------- */

/* .SwiperJSContainer .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #35637a;
    padding: 7px 8px 7px 7px;
    width: 28px;
    height: 15px;
    border-radius: 50%;
    font-weight: bold;
}

.SwiperJSContainer .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #35637a;
    padding: 7px 7px 7px 8px;
    width: 28px;
    height: 15px;
    border-radius: 50%;
    font-weight: bold;
} */
@media (max-width:769px) {

    /* ------text------- */
    .SliderTextConatainerBox {
        height: 120px;
        overflow: auto;
    }
    .SliderTextConatainerBox p {
        font-size: 9px;
        margin-bottom: 5px;
    }
    .SliderTextConatainer {
        right: 30px;
        width: 45%;
    }
    .SliderIconConatainer {
        margin-top: 11px;
        font-size: 16px;
        margin-right: 20px;
    }
    .SliderIconConatainer a:first-child {
        margin-right: 7px;
    }

    /*---------- arrow color and size---------- */

    .SwiperJSContainer .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        color: #35637a;
        font-size: 20px;
        border-radius: 50%;
        font-weight: bold;
    }

    .SwiperJSContainer .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        color: #35637a;
        font-size: 20px;
        border-radius: 50%;
        font-weight: bold;
    }

    .SwiperJSContainer .DImg {
        display: none;
    }

    .SwiperJSContainer .MImg {
        display: block;
    }
}