.secondNavContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #35637a;
    padding: 15px 0;
    color: white;
    position: fixed;
    top: 75px;
    z-index: 10;
}

.secondNavContainerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.secondNavContainerBox1 {
    width: 70%;
    font-size: 18px;
}

.HomeImgContainer img {
    width: 100%;
}

.HomeImgContainer img:nth-of-type(2) {
    display: none;
}

.section1Container img {
    width: 100%;
}

.section1Container img:nth-of-type(2) {
    display: none;
}

.section2Container {
    position: relative;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.section2Container img {
    box-shadow: 0 0 22px 0 #808080d6;
    width: 93%;
    border-radius: 10px;
}
.section2Container img:nth-of-type(2) {
    display: none;
}

.section2ContainerBox {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
}

.section2ContainerBox .title {
    font-size: 34px;
    color: #b37402;
    text-align: center;
    margin: 0;
    position: relative;
    top: 6%;
    font-family: 'Cinzel';
}

.section2ContainerBox .text1 {
    font-weight: 800;
    color: #35637a;
    font-size: 25px;
}

.section2ContainerBox .text2 {
    font-size: 22px;
    margin-top: 3%;
    width: 70%;
}

.section2ContainerBox .textContainer {
    position: absolute;
    left: 33%;
    top: 30%;
}
.section2ContainerBox .textContainer p {
    font-size: 17px;
}
.section2ContainerBox11 .title {
    font-size: 34px;
    color: #b37402;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 5%;
    /* left: 12%; */
    right: 4%;
    text-align: end;
    width: 66%;
    /* margin-right: 22%; */
    text-align: center;
}

.section2ContainerBox11 .textContainer {
    position: absolute;
    left: 40%;
    top: 38%;
    width: 50%;
}

.section2Container11 {
    margin-top: 60px;
}

.MainTitleContainer {
    background-color: #d3d3d3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b37402;
    font-weight: bold;
    font-size: 33px;
    margin: 46px 0 46px 0;
}
.serviceContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.serviceContainerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.serviceContainerBoxItem {
    width: 326px;
    text-align: center;
    margin: 42px;
    box-shadow: 0 0 27px 0px #b37402c7;
    padding: 29px 20px;
    border-radius: 10px;
}
.serviceContainerBoxItem img {
    width: 100px;
    border-radius: 50%;
    padding: 25px;
    background-color: #b37402;
}
.serviceContainerBoxItem .textContainer p:nth-of-type(1) {
    margin-bottom: 20px;
}
.headingText {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}
.serviceContainerBoxItem .textContainer {
    margin-top: 12px;
    width: 100%;
    font-size: 16px;
    height: 200px;
    overflow: auto;
}
.clientImgContanier{
    width: 100%;
}
.clientImgContanierBox{
    display: flex;
    flex-direction: column;
}
.clientImgContanierBox img:nth-of-type(1), .clientImgContanierBox img:nth-of-type(2){
    width: 100%;
}
.clientImgContanierBoxMImg{
    display: none;
}
.sliderImage{
    width: 100%;
}
.offerWithButtonContainer{
    position: relative;
}
.offerWithButtonContainer Button {
    color: white;
    position: absolute;
    bottom: 25px;
    font-weight: 700;
    left: 50%;
}
.HomeBannerImgContainer {
    margin-top: 145px;
}
.footerAddrContainerBox {
    color: #dfdfdf;
}
.rightsContainer p {
    border-top: 1px solid #b5b5b5;
    color: #dadada;
}
/* -----------Media Queries-------
---------------------------------- */
@media (max-width:769px) {
    .secondNavContainerBox2 Button {
        font-size: 11px;
        padding: 15px 8px;
        height: 25px;
        margin-top: 3px;
        /* padding: 0 0; */
    }

    .secondNavContainerBox {
        width: 95%;
    }

    .secondNavContainerBox1 {
        font-size: 14px;
    }

    .HomeImgContainer img:nth-of-type(1) {
        display: none;
    }

    .HomeImgContainer img:nth-of-type(2) {
        display: block;
    }

    .section1Container img:nth-of-type(2) {
        display: block;
    }

    .section1Container img:nth-of-type(1) {
        display: none;
    }

    .section2Container img:nth-of-type(2) {
        display: block;
    }

    .section2Container img:nth-of-type(1) {
        display: none;
    }
    .clientImgContanierBox{
        display: none;
    }
    .clientImgContanierBoxMImg {
        display: block;
        width: 100%;
    }
    .serviceContainerBoxItem {
        width: 250px;
        text-align: center;
        margin: 21px;
        box-shadow: 0 0 27px 0px #b37402c7;
        padding: 10px 20px;
        border-radius: 10px;
    }
    .serviceContainerBoxItem img {
        width: 80px;
        border-radius: 50%;
        padding: 11px;
        background-color: #b37402;
    }
    .section2ContainerBox .title {
        font-size: 14px;
    }
    .section2ContainerBox11 .title {
        right: 0%;
        margin-top: 0;
        width: 55%;
    }
    .section2ContainerBox .text1 {
        font-weight: 800;
        color: #35637a;
        font-size: 11px;
        width: 60%;
        margin-left: 11%;
    }
    .section2ContainerBox .text2 {
        font-size: 8px;
        margin-top: 3%;
        width: 57%;
        margin-left: 6%;
    }
    .section2ContainerBox .text2 {
        font-size: 8px;
        margin-top: 7%;
        width: 86%;
        margin-left: 6%;
    }
    .MainTitleContainer {
        background-color: #d3d3d3;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #b37402;
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 20px 0;
    }
    .section2Container22 {
        margin-bottom: 57px !important;
    }
    .headingText {
        font-size: 19px;
        font-weight: bold;
        margin-top: 5px;
    }
    .secondNavContainer {
        padding: 11px 0;
        position: fixed;
        top: 75px;
        z-index: 10;
    }
    .offerWithButtonContainer Button {
        bottom: 6px;
        font-size: 10px;
        padding: 4px 11px;
    }
    .HomeBannerImgContainer {
        margin-top: 129px;
    }
    .serviceContainerBoxItem .textContainer {
        font-size: 14px;
    }
    .section2ContainerBox .textContainer p {
        font-size: 8px;
        width: 54%;
    }
    .section2ContainerBox11 p {
        font-size: 14px;
        width: 100% !important;
    }
 
}