body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 10;
    left: 0;
    background-color: white;
}
.navContainerBox {
    display: flex;
    width: 97%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}
.navContainerBox img {
    width: 140px;
    object-fit: cover;
}
.navContainerBoxItem ul{
    display: flex;
}
.navContainerBoxItem ul li {
    list-style: none;
    margin-right: 21px;
    font-size: 20px;
    color: #b37402;
    font-weight: 600;
}
.MobileNavContainerBoxItem{
    display: none;
}
.MenuSliderContainerBlock{
    display: none;
}
.MenuSliderContainerNone{
    display: none;
}
a{
    text-decoration: none;
    color: #b37402;
    cursor: pointer;
}   


/* -------------------Media Queries--------------
------------------------------------------------- */
@media(max-width:769px){
    .navContainerBox img {
        width: 110px;
    }
    .navContainerBoxItem{
        display: none;
    }
    .spanMenuContainer{
        position: relative;
    }
    .MobileNavContainerBoxItem{
        display:block ;
    }
    #hamburgerMenuIcon{
    }
    .MobileNavContainerBoxItem1{

    }
    .MobileNavContainerBoxItemPeace{

    }
    .MuiDrawer-paperAnchorTop{
        top: 75px !important;
    }
    .MenuSliderContainerNone{
        display: none;
    }
    .MenuSliderContainerBlock {
        display: block;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 65px;
        width: 100%;
        background-color: white;
        z-index: 13;
        box-shadow: 0px 70px 48px -59px #efefefba;
    }
    .MenuSliderContainerBox ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        padding: 0;
    }
    .MenuSliderContainerBox ul li {
        list-style: none;
        text-align: start;
        color: #35637a;
        margin: 10px;
        font-weight: 600;
        font-size: 17px;
    }
}