.footerHolder{
    background-color: #35637a;
}
.newsletterContainer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    /* flex-direction: column; */
    width: 100%;
    margin-top: 41px;
}
.newsletterBox {
    display: flex;
    /* height: 46px; */
    /* align-items: flex-start; */
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.newsletterBox Button {
    color: white !important;
    margin-left: 10px;
    width: 160px;
}
.newsletterBox input {
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    width: 100%;
    height: 49px;
    font-size: 17px;
}
.newsletterBox input:focus{
    outline:none;
}
.newsletterBoxItem {
    display: flex;
}
.newsletterBox label {
    color: white;
    font-size: 20px;
    margin: 13px 0px;
}
.footerAddrContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.footerAddrContainerBox{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    color: white;
}
.rightsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}
.rightsContainer p {
    border-top: 1px solid #afafaf94;
    text-align: center;
    color: white;
    width: 95%;
    margin-top: 44px;
    padding: 33px 0;
}
.footerAddrIconContainer {
    width: 70%;
    display: flex;
    justify-content: center;
}
.footerAddrIconContainerBox {
    display: flex;
    justify-content: flex-start;
    /* padding: 40px 0; */
    width: 100%;
    margin-top: 41px;
    color: white !important;
}
.footerAddrIconContainerBox a {
    color: white;
    margin-left: 19px;
    font-size: 22px;
}
.footerAddrIconContainerBox a:first-child{
    margin-left: 0px;
}
@media (max-width:769px) {
    .newsletterBox {
        width: 90%;
    }
    .newsletterBox input {
        height: 36px;
        font-size: 15px;
    }
    .footerAddrContainerBox {
        width: 90%;
        font-size: 14px;
    }
    .newsletterContainer {
        padding: 32px 0;
        margin-top: 20px;
    }
    .newsletterBox input {
        height: 36px;
        font-size: 16px;
    }
    .footerAddrIconContainerBox {
        margin-top: 20px;
    }
    .footerAddrIconContainer {
        width: 90%;
    }
    .footerAddrIconContainerBox a {
        margin-left: 15px;
        font-size: 17px;
    }
    
}